In [2]:
numbers = [10, 20, 30, 40, 50, 60, 70]
subset1 = numbers[ :3]         # 0:3 해줘도 됨
print(subset1)

[10, 20, 30]

In [ ]:
subset2 = numbers[-3:]         # -3:7 해줘도 됨
print(subset2)

[50, 60, 70]

In [4]:
numbers = [10, 20, 30, 40, 50, 60, 70]
list1 = numbers[::2]
print(list1)

[10, 30, 50, 70]

In [5]:
list2 = numbers[::-1]
print(list2)

[70, 60, 50, 40, 30, 20, 10]

In [6]:
list3 = numbers[::-2]
print(list3)

[70, 50, 30, 10]

In [7]:
numbers[-1::]

[70]

In [19]:
# 다차원 리스트 슬라이싱
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]

first_two_rows = matrix[ :2]
print(first_two_rows)

first_two_columns = [row[ :2] for row in matrix]
print(first_two_columns)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2], [5, 6], [9, 10], [13, 14]]

In [8]:
## 리스트 컴프리헨션
# 일반적
numbers = []
for i in range(5):
    numbers.append(i)
    
print(numbers)

[0, 1, 2, 3, 4]

In [9]:
# 리스트 컴프리헨션
numbers = [i for i in range(5)]
print(numbers)

[0, 1, 2, 3, 4]

In [10]:
# 원소 조작
numbers = [1, 2, 3, 4, 5]
squares = [num ** 2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [11]:
# 조건 추가
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [num for num in numbers if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [20]:
# 두 리스트의 모든 조합을 포함하는 리스트 생성
list1 = ['사과', '복숭아', '바나나']
list2 = ['주스', '잼', '통조림']
pairs = [(fruit, product) for fruit in list1 for product in list2]
print(pairs)

[('사과', '주스'), ('사과', '잼'), ('사과', '통조림'), ('복숭아', '주스'), ('복숭아', '잼'), ('복숭아', '통조림'), ('바나나', '주스'), ('바나나', '잼'), ('바나나', '통조림')]

In [12]:
## 딕셔너리 컴프리헨션
# 일반적
squares = {}
for i in range(5):
    squares[i] = i ** 2
    
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [13]:
# 컴프리헨션
squares = {i: i ** 2 for i in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [14]:
# 형식 지정자 사용한 변수 삽입
item = '프린터'
price = 360000
print('상품명: %s, 가격: %d' % (item, price))

상품명: 프린터, 가격: 360000

In [15]:
# 새로운 포맷팅
item = "프린터"
price = 360000
print("상품명: {}, 가격: {}".format(item, price))

상품명: 프린터, 가격: 360000

In [16]:
name = '홍길동'
age = 30
salary = 3500000
tax_rate = 0.1
basic_format = '이름: {}, 나이: {}, 월급: {}원'.format(name, age, salary)

print(basic_format)

이름: 홍길동, 나이: 30, 월급: 3500000원

In [17]:
# f-문자열
name = '홍길동'
age = 30
print(f'이름: {name}, 나이: {age}')

이름: 홍길동, 나이: 30

In [18]:
basic_format = f'이름: {name}, 나이: {age}, 월급: {salary}원'
index_format = f'직원 {name}의 나이는 {age}세이고, {name}의 세후 월급은 {int(salary * (1 - tax_rate))}원입니다.'
keyword_format = f'직원정보: 이름: {name} 나이: {age}세 월급: {salary:,}원 세금: {tax_rate:.1%} 실수령액: {int(salary * (1 - tax_rate)):,}원'

print(basic_format)
print(index_format)
print(keyword_format)

이름: 홍길동, 나이: 30, 월급: 3500000원
직원 홍길동의 나이는 30세이고, 홍길동의 세후 월급은 3150000원입니다.
직원정보: 이름: 홍길동 나이: 30세 월급: 3,500,000원 세금: 10.0% 실수령액: 3,150,000원

In [21]:
## with 문 사용 예
import urllib.request
with urllib.request.urlopen('https://raw.githubusercontent.com/jaehwachung/Data-Analysis-with-Open-Source/refs/heads/main/Chapter%203/students.csv') as response:
    data = response.read().decode('utf-8')
print(data)

학번,이름,데이터베이스,파이썬,클라우드
101,김철수,85,78,92
102,이영희,76,82,78
103,박지민,92,95,85
104,최준서,63,70,75
105,정미나,88,84,91

In [3]:
## 언패킹 사용
coordinates = (10, 20)
x, y = coordinates
print(f'x좌표: {x}, y좌표: {y}')

rgb = [255, 128, 0]
red, green, blue = rgb
print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

word = 'ABC'
first, second, third = word
print(f'첫 번째 문자: {first}, 두 번째 문자: {second}')

x좌표: 10, y좌표: 20
빨강: 255, 초록: 128, 파랑: 0
첫 번째 문자: A, 두 번째 문자: B

In [4]:
# 확장 언패킹
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580,
                 1620, 1700, 1800, 1850, 1900, 2000]
first, *middle, last = monthly_sales
print(f"첫 달(1월) 판매액: {first}")
print(f"마지막 달(12월) 판매액: {last}")
print(f"중간 달(2~11월)의 판매액: {middle}")

첫 달(1월) 판매액: 1200
마지막 달(12월) 판매액: 2000
중간 달(2~11월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

In [5]:
## 언더스코어
for _ in range(5):
    print("Hello, Data Analysis with Open Source!")

Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!
Hello, Data Analysis with Open Source!

In [7]:
# 필요하지 않은 요소가 있는 경우 _ 사용하여 해당 요소 무시
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]
print('이름과 성적 출력:')
for _, name, _, _, grade in students:
    print(f'{name}의 성적: {grade}')
    
print('이름과 성적 출력:')
for stn, name, dept, year, grade in students:
    print(f'{name}의 성적: {grade}')

이름과 성적 출력:
김철수의 성적: 3.8
이영희의 성적: 4.2
박민수의 성적: 3.5
이름과 성적 출력:
김철수의 성적: 3.8
이영희의 성적: 4.2
박민수의 성적: 3.5

In [2]:
## 예외 처리
number = int(input('정수를 입력하세요: '))
result = 10 / number
print(f'결과: {result}')       # 정수가 아닌 입력이 들어가면 오류 발생

ValueError: invalid literal for int() with base 10: '0.5'

In [4]:
try:
    number = int(input("숫자를 입력하세요: "))
    result = 10 / number
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")

ValueError: invalid literal for int() with base 10: '0.4'

In [22]:
try:
    number = int(input("숫자를 입력하세요: "))
    result = 10 / number
except:
    print("0으로 나눌 수 없습니다.")

0으로 나눌 수 없습니다.

In [5]:
try:
    number = int(input("숫자를 입력하세요: "))
    result = 10 / number
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")
except ValueError:
    print("유효한 숫자를 입력해야 합니다.")

유효한 숫자를 입력해야 합니다.

In [9]:
# finally 블록
try:
    file = open('data.csv', 'r')
    content = file.read()
    print(content)
except FileNotFoundError:
    print('파일을 찾을 수 없습니다.')
finally:
    print("파일 작업 종료.")
    file.close()

파일을 찾을 수 없습니다.
파일 작업 종료.

NameError: name 'file' is not defined

In [11]:
# 람다 함수
def add(x):
    return x + 2

add_lambda = lambda x: x + 2

print(add(3))
print(add_lambda(3))

5
5

In [14]:
# 람다 함수의 활용
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

adjust_salary = lambda salary: salary * 1.1

updated_salaries = {name: adjust_salary(salary) for name, salary in employees.items()}

print(updated_salaries)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}

In [15]:
# map 함수
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
celsius_to_fahrenheit = lambda c: (c * 9/5) + 32
temperature_fahrenheit = list(map(celsius_to_fahrenheit, temperature_celsius))

print("섭씨 온도 데이터:", temperature_celsius)
print("화씨 온도로 변환:", temperature_fahrenheit)

섭씨 온도 데이터: [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환: [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]

In [19]:
# filter 함수
osda_students = [
    {"name": "김지원", "score": 85},
    {"name": "이민준", "score": 65},
    {"name": "박서연", "score": 90},
    {"name": "정현우", "score": 55},
    {"name": "최예은", "score": 78}
]

passed_students = list(filter(lambda student: student["score"] >= 70, osda_students))

print("70점 이상 합격한 학생 목록:")
for student in passed_students:
    print(f"이름: {student['name']}, 점수: {student['score']}")

70점 이상 합격한 학생 목록:
이름: 김지원, 점수: 85
이름: 박서연, 점수: 90
이름: 최예은, 점수: 78

In [20]:
# reduce 함수
from functools import reduce
numbers = [1, 2, 3, 4, 5]
total_sum = reduce(lambda x, y: x + y, numbers)
print(total_sum)

15